# Practice Exercise

Question 1: Let us start by printing the word "Welcome to the practice exercise" in python.

In [1]:
# Print the statement:
print("Welcome to the practice exercise")

Welcome to the practice exercise

Question 2: Create a string variable and print the string.

In [ ]:
# Create a string variable:
str="Welcome to the practice exercise"
# Print the string:
print(str)

Question 3: Create a string by taking user input and print the string.

In [2]:
# Create a string variable taking user input:
str=input("What are you doing?")
# Print the string:
print(str)

What are you doing?watching
watching

Question 4: Print the pattern given below:



![image.png]()

In [7]:
# Print the pattern shown in the question above:
print("    ","1","  ")
print("  ",'2 3 4',"  ")
print("",'5 6 7 8 9'   )

     1
   2 3 4
 5 6 7 8 9

Question 5: Print the '#' symbol 15 times without having to type it for 15 times.

In [8]:
# Print the pattern shown in the question above:
print('#'*15)

###############

Question 6: Take the user input to print the current date

In [9]:
# Take the user input into a string:
input("today date")

# Print the date:
print("todays date",date.today())

today date12-30-21

NameError: name 'date' is not defined

Question 7: Type cast the interger 1.8 into a string and print the result.

In [11]:
# Store the interger as a varaible:
num=8

# Typecast the integer:
n=int(num)

# Print the result:
print(n)

8

Question 8: Find the product of two numbers input by the user.

In [12]:
# Take input of the first number and store it in a variable:
num=input("enter value1")

# Take input of the second number and store it in a variable:
num1=input("enter value2")
# You will need to typecast the input strings into integers
n=int(num)
n1=int(num1)
# Calculate the product:
result=n*n1

# Print the result:
print(result)

enter value112
enter value223
276

Question 9: Calculate the remainder of the number 6 when divided by the number 4.

In [13]:
# Find the modulus and print the result:
res=6%4
print(res)

2

Question 10: Solve the error in code below and print the correct result.

In [17]:
# Given:
#print('I can't study any longer')

# Corrected solution:
print("I can't study any longer")

I can't study any longer

Question 11: Print the following statement using only 1 print statement:

Hello

Good Morning

In [20]:
# Print the required statement:\
print("hello \ngood morning")

hello
good morning

Question 12: Concatenate the given strings and print the result:

In [23]:
# Given below are the two strings:
string1= 'Welcome to upgrad'
string2= 'coding practice session.'

# Concatenate and print the result:
print(string1+" "+string2)

Welcome to upgrad coding practice session.

Question 13: Find the length of string given below and print the result.

In [24]:
# Given below is the string:
str="hello world!"

# Calculate and print the length:
print(len(str))

12

Question 14: Create a string of length=10. Obtain the fifth and seventh character of the string. Concatenate the characters and form a new string. Print the new string.

In [28]:
# Create a string of length 10:
str="abcdefghij"

# You can verify the length:
len(str)

# Obtain the fifth letter and store it into a new string:
fif=str[4]

# Obtain the seventh letter and store it into a new string:
sev=str[6]

# Concatenate the two strings:
res= fif + sev

# Print the result:
print(res)

eg

Question 15: Given below is a string. Perform the following operations and print the results:
1. Remove the extra spaces from the string and print the new string.
2. Find the length of new string
3. Remove the last 5 characters of the new string
4. Find the 15th character of the new string
5. Compute the result of concatenation of the first and last letter of the new string.

In [40]:
# Given below is the string:
line= '     I hope you enjoyed this practice session.'

# Removing extra spaces:
new=line.lstrip()

# Print the result:
print(new)
# Calculate the length:
len(new)

# Slice the string to remove the last 5 characters:
new[-5:]
# Print the result:

# Print the 15th character of the string:
new[:15]

# Print the concatenation of first and last character of resulting string:
first=new[:1]
print(first+new[-2:])

I hope you enjoyed this practice session.
In.